.outer-form{
		font-family: monospace;
     text-align: center;
}
.heading {
  	   font-size: 28px;


}
.cancel{
    background-color:#4CAF50;
    font-family: monospace;
}
.submit{
    background-color:#4CAF50;
    font-family: monospace;
}
